<h1>Login</h1>

<div class="row center-align">
  <%= form_tag login_path, class: "col s12" do %>
    <div class="row">
      <div class="input-field col s4">
        <%= text_field_tag :username %>
        <%= label_tag :username %>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s4">
        <%= password_field_tag :password %>
        <%= label_tag :password %>
      </div>
    </div>

    <div class="row col">
      <%= submit_tag "Submit", class: "btn" %>
    </div>

  <% end %>
</div>
