<h1>Signup!</h1>

<div class="row center-align">
  <%= form_for :users, url: '/users' do |f| %>
    <div class="row">
      <div class="input-field col s4">
        <%= f.text_field :username %>
        <%= f.label :username %>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s4">
        <%= f.text_field :email %>
        <%= f.label :email %>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s4">
        <%= f.password_field :password %>
        <%= f.label :password %>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s4">
        <%= f.password_field :password_confirmation %>
        <%= f.label :password_confirmation %>
      </div>
    </div>

    <div class="row col">
      <%= f.submit "Submit", class: "btn" %>
    </div>

  <% end %>
</div>
