<h1>Profile</h1>
<!-- Any user can view profile pages of users -->

<p id="notice"><%= notice %></p>

<div>
  <p>Profile for: <%= @user.username %></p>
  <p>Hi</p>
</div>

<p>List all characters:</p>

<% @user.characters.each do |char| %>
  <li><%= char %>
<% end %>

<!-- TODO: Move this up to the navbar -->
<% if (params[:id]).to_i == session[:current_user_id] %>
  <div>
    <a href="/users/<%= session[:current_user_id] %>/characters/new">Create Character</a>
  </div>


  <div>
    <a href="/users/<%= session[:current_user_id] %>/edit">Update Account</a>
  </div>
<% end %>
